.bicicletas{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    gap: 40px;
}
.bicicleta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.bicicleta-bg{
    background: linear-gradient(to right, var(--cor-0) 0% 30%, var(--cor-12) 30% 100%);
    padding-top: 50px;
    padding-bottom: 50px;

}
.bicicleta-img{
    position: relative;
}
.bicicleta-img img{
    height: 100%;
    object-fit: cover;
    object-position: right;
}
.bicicleta-img span{
    background-color: var(--cor-12);
    padding: 10px 20px;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 0px;
}
.bicicleta-conteudo li{
    display: flex;
    align-content: center;
    margin-top: 5px;
}
.bicicleta-conteudo li img{
    width: 25px;
    margin-right: 10px;
}
.bicicleta-conteudo > div{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.bicicleta-conteudo > div a{
    place-self: end;
    display: flex;
    align-items: center;
}
.bicicleta-conteudo > div a::after{
    content: '';
    width: 20px;
    height: 20px;
    background: url('../../img/icones/seta.svg') no-repeat center center;
    display: inline-block;
    margin-left: 5px;
    transition: 0.3s;
}
.bicicleta-conteudo > div a:hover::after{
    transform: translateX(10px);
}

@media(max-width: 900px){
    .bicicleta{
        grid-template-columns: 1fr;
    }
    .bicicleta-bg{
        background: var(--cor-12);
    }
}
@media(max-width: 500px){
    .bicicleta-conteudo > div{
        display: grid;
        gap: 10px;
        margin-top: 8px;
    }
    
}